* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy Light";
  text-decoration: none;
}

.delete-txt {
  font-family: 'Girloy Light';
  font-size: 15px;
  cursor: pointer;
  margin: 0px 15px;
}

h2 {
  font-size: 44px;
  font-family: "Gilroy ExtraBold";
  margin-bottom: 9px;
}

.green {
  color: #01cd7d;
}

button {
  width: 170px;
  height: 48px;
  border-radius: 36px;
  border: none;
  background: linear-gradient(90deg, #00c97b, #00d981);
  color: white;
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 17px;
  width: 240px;
  height: 66px;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Gilroy";
}

button:hover {
  scale: 1.1;
  transition: 0.5s;
}

body {
  padding: 0 60px;
}

header {
  display: flex;
  padding: 25px 200px;
  align-items: center;
  justify-content: space-between;
}

/* logo start */
.logo__circle__top {
  width: 48px;
  position: absolute;
  z-index: 2;
}

.logo__circle__bottom {
  width: 48px;
  position: relative;
  top: -1px;
}

.logo__arrow {
  width: 47px;
  position: absolute;
  left: 270px;
  animation: lanim 2s infinite;
  filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.3));
}

@keyframes lanim {
  0% {
    left: 270px;
  }

  50% {
    left: 277.5px;
  }

  100% {
    left: 270px;
  }
}

.logo__text {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

/* logo end */
.top__nav {
  display: flex;
  gap: 40px;
}

.nav__button {
  color: black;
  font-weight: bold;
}

.auth__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
}

.auth {
  display: flex;
  align-items: center;
  gap: 11px;
}

.auth a {
  font-weight: bold;
}

.auth__contact button {
  width: 170px;
  height: 48px;
  border-radius: 36px;
  border: none;
  background: linear-gradient(90deg, #00c97b, #00d981);
  color: white;
  font-weight: bold;
}



.delete-txt {
  font-family: 'Girloy Light';
  font-size: 15px;
  cursor: pointer;
  margin: 0px 15px;
}


/* block 1 start--------------------------------------- */



.block__1 {
  color: white;
  background: linear-gradient(45deg, #5b52a3, #40b8ea);
  width: 100%;
  height: 380px;
  border-radius: 36px;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block__1 span {
  font-size: 13px;
  font-family: 'Gilroy Light';
  margin-bottom: 30px;

}

.block__1__left {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.block__1__left h1 {
  font-family: "Gilroy ExtraBold";
  font-size: 48px;
  color: white;
}

.block__1__left p {
  font-family: "Gilroy ExtraBold";
  color: white;
  line-height: 2.5;
  font-size: 24px;
  margin-bottom: 36px;
}

.block__1__left button {
  width: 260px;
  height: 66px;
}

/* block 1 end--------------------------------------- */

/* five cards start */



/* five cards end */
.five__cards {
  margin: 120px 200px 0 200px;
}


.five__cards__text p {
  line-height: 36px;
  font-size: 20px;
  margin-bottom: 50px;
}

.cards__list {

  display: flex;
  flex-direction: column;
  gap: 95px;
  margin-bottom: 52px;
}

.card {
  display: flex;
  gap: 71px;
}

.line {
  border-left: solid #C0C9D7 1px;
  height: 79px;
  margin: 0 33px 0 30px;
}

.card__right__top {
  display: flex;
  align-items: center;
}

.card__right__top span {
  font-size: 80px;
}

.card__right__top h4 {
  line-height: 36px;
  font-family: 'Gilroy ExtraBold';
  font-size: 24px;
}

/* тут чисто фикс неровности*/
.card01 {
  margin: 0 33px 0 45px
}

/*  фикс закончен */
.card p {
  line-height: 36px;
  font-size: 18px;
}

/* block2 */
.block__2 {
  margin-top: 160px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #5b52a3, #40b8ea);
  border-radius: 36px;
  width: 100%;
  height: 280px;
}

.block__2__left p {
  font-family: 'Gilroy ExtraBold';
  font-size: 44px;
  color: white;
  width: 1100px;
}

/* block 2 end*/
footer {
  margin-top: 100px;
  display: flex;
  margin-right: 260px;
  margin-left: 260px;
  justify-content: space-between;
}

.footer__left__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 166px;
}

.footer__left__11 {
  padding-top: 34px;
}

.footer__left__2 span {
  font-family: "Gilroy ExtraBold";
  font-size: 16px;
}

.footer__left__2 p {
  font-family: "Gilroy Light";
  font-size: 14px;
}

.footer__right__1 span {
  font-family: "Gilroy ExtraBold";
  font-size: 16px;
}

.footer__right__1 p {
  font-family: "Gilroy Light";
  font-size: 14px;
}

.footer__right__2 span {
  font-family: "Gilroy ExtraBold";
  font-size: 16px;
}

.footer__right__2 p {
  font-family: "Gilroy Light";
  font-size: 14px;
}

.okeypost p {
  font-family: "Gilroy Light";
  font-size: 14px;
}

.footer__right__2 {
  padding-bottom: 100px;
}

.okeypost {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid;
  opacity: 0.4;
  width: 100%;
  height: 57px;
}

.modal {
  display: none;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h1 {
  font-family: 'Gilroy ExtraBold';
  font-size: 40px;
}

.modal-content p {
  font-family: 'Gilroy Light';
  font-size: 20px;
}

/* Стили для ссылок в модальном окне */
.modal-content a {
  color: #007bff;
  /* Цвет ссылки */
  text-decoration: none;
  /* Убираем подчеркивание */
  transition: color 0.3s;
  /* Плавное изменение цвета при наведении */
  font-family: 'Gilroy Light';
  font-size: 25px;
}

.modal-content a:hover {
  color: #0056b3;
  /* Цвет ссылки при наведении */
  text-decoration: underline;
  /* Добавляем подчеркивание при наведении */
}