* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy Light";
    text-decoration: none;
}

h2 {
    font-size: 44px;
    font-family: "Gilroy ExtraBold";
    margin-bottom: 40px;
}




button {
    width: 170px;
    height: 48px;
    border-radius: 36px;
    border: none;
    background: linear-gradient(90deg, #00c97b, #00d981);
    color: white;
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 17px;
    width: 240px;
    height: 66px;
    cursor: pointer;
    transition: 0.5s;
    font-family: "Gilroy";
}

button:hover {
    scale: 1.1;
    transition: 0.5s;
}

body {
    padding: 0 60px;
}

header {
    display: flex;
    padding: 25px 200px;
    align-items: center;
    justify-content: space-between;
}

/* logo start */
.logo__circle__top {
    width: 48px;
    position: absolute;
    z-index: 2;
}

.logo__circle__bottom {
    width: 48px;
    position: relative;
    top: -1px;
}

.logo__arrow {
    width: 47px;
    position: absolute;
    left: 270px;
    animation: lanim 2s infinite;
    filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.3));
}

@keyframes lanim {
    0% {
        left: 270px;
    }

    50% {
        left: 277.5px;
    }

    100% {
        left: 270px;
    }
}

.logo__text {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

/* logo end */

.top__nav {
    display: flex;
    gap: 40px;
}

.nav__button {
    color: black;
    font-weight: bold;
}

.auth__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 42px;
}

.auth {
    display: flex;
    align-items: center;
    gap: 11px;
}

.auth a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.auth__contact button {
    width: 170px;
    height: 48px;
    border-radius: 36px;
    border: none;
    background: linear-gradient(90deg, #00c97b, #00d981);
    color: white;
    font-weight: bold;
}

.block__1 {
    color: white;
    background: linear-gradient(45deg, #5b52a3, #40b8ea);
    width: 100%;
    height: 210px;
    border-radius: 36px;
    padding: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.block__1 span {
    font-size: 13px;
    font-family: "Gilroy Light";
    margin-bottom: 30px;
}

.block__1__left {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.block__1__left h1 {
    font-family: "Gilroy ExtraBold";
    font-size: 48px;
    color: white;
}

/* block 1 end*/
/* cards section start ---------------------*/

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 14px;
    margin: 100px 10% 0 10%; 
}
.card {
    border-radius: 16px;
    box-shadow: 0 0 70px #a1a1a158;
    gap: 18px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 30px 35px 30px;
    cursor: pointer;
    transition: .5s;
}
.card:hover {
    transition: .5s;
    scale: 1.05;
}
.card span {
    font-size: 16px;
    font-family: "Gilroy ExtraBold";
}
.image__container {
    display: flex;
    align-items: center;
    width: 209px;
    height: 85px;
}
.image__container img {
    width: auto;
    height: auto;
    object-fit: contain;
}

/* pagination */
.pagination {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 50px 75px 0px 75px;
    grid-column: 1 / -1; /* Занимаем все колонки сетки */
    justify-self: center; /* Центрируем содержимое пагинации по горизонтали */
}

.pagination span {
    color: #C0C9D7;
}

.circle {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    border: 1px solid #C0C9D7;
    color: #C0C9D7;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

.circle:hover,
.circle:hover span {
    transition: .4s;
    border-color: #01CD7D;
    color: #01CD7D;
}

.circle:hover img {
    filter: brightness(0) saturate(100%) invert(95%) sepia(100%) saturate(7500%) hue-rotate(320deg);

}

/* cards section end   ---------------------*/

/* block__2 start */
.block__2 {
    margin-top: 160px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #5b52a3, #40b8ea);
    border-radius: 36px;
    width: 100%;
    height: 280px;
}

.block__2__left p {
    font-family: 'Gilroy ExtraBold';
    font-size: 44px;
    color: white;
    width: 1100px;
}

/* block__2 end */

footer {
    margin-top: 100px;
    display: flex;
    margin-right: 260px;
    margin-left: 260px;
    justify-content: space-between;
}

.footer__left__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 166px;
}

.footer__left__11 {
    padding-top: 34px;
}

.footer__left__2 span {
    font-family: "Gilroy ExtraBold";
    font-size: 16px;
}

.footer__left__2 p {
    font-family: "Gilroy Light";
    font-size: 14px;
    line-height: 40px;
}

.footer__right__1 span {
    font-family: "Gilroy ExtraBold";
    font-size: 16px;
}

.footer__right__1 p {
    font-family: "Gilroy Light";
    font-size: 14px;
    line-height: 40px;
}

.footer__right__2 span {
    font-family: "Gilroy ExtraBold";
    font-size: 16px;
}

.footer__right__2 p {
    font-family: "Gilroy Light";
    font-size: 14px;
    line-height: 40px;
}

.okeypost p {
    font-family: "Gilroy Light";
    font-size: 14px;
}

.footer__right__2 {
    padding-bottom: 100px;
}

.okeypost {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    opacity: 0.4;
    width: 100%;
    height: 57px;
}